@import "colors";

nav {
    height: 50%;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: sticky;
    background-color: $second;
    top: 0%;
    z-index: 10;
    border-radius: 0 0 50px 50px;

    >h1 {
        text-transform: uppercase;
        text-decoration: bold;
        color: $first;
        font: $text2;


    }

    >main {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        background-color: $first;
        border-radius: 100px 100px;


        >a {
            color: $dark;
            margin: 1.5rem;

            &:hover {
                color: $third;
            }
        }
    }
}