@import "colors";


.back {
    width: 100%;
    height: 80vh;
    padding: 3rm;
    background-color: $third;
    display: flex;


}

.services {
    width: 100%;
    height: 75vh;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    padding-top: -100px;
}